@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Diplomata");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT");
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.bg-blue {
  background-color: #abd5e7; }

.bg-yellow {
  background-color: #ecbb60;
  color: #fff; }

.ta-right {
  text-align: right; }

img {
  max-width: 100%;
  height: auto; }

.cf::after {
  content: '';
  display: block;
  clear: both; }

.l-header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  box-sizing: border-box; }
  .l-header-logo {
    width: 70px;
    line-height: 40px;
    float: left;
    background: url(../img/headerlogo.png) center center;
    background-size: cover;
    text-indent: -9999px; }

@media screen and (min-width: 600px) {
  .l-header {
    height: 160px;
    position: relative; }
    .l-header-logo {
      width: 170px;
      height: 100px;
      margin-top: 25px; } }

.l-infomation {
  width: 100%; }

.l-footer {
  background-color: #292929;
  text-align: right;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  clear: both; }

.l-contact-main {
  text-align: center; }

.l-telnumber {
  padding-top: 30px;
  padding-bottom: 30px; }
  .l-telnumber span {
    font-size: 24px; }

.contact-form {
  padding-top: 30px;
  padding-bottom: 30px; }

.name,
.furigana,
.email,
.message {
  width: 200px;
  border: none;
  margin-bottom: 20px;
  padding: 5px; }

.concept-higher-img {
  width: 100%;
  height: 185px;
  background: url(../img/concept-1.jpg) center center;
  background-size: cover; }

.concept-lower-img1 {
  width: 30%;
  height: 185px;
  background: url(../img/concept-3.jpg) center center;
  background-size: cover; }

.concept-lower-img2 {
  width: 70%;
  height: 185px;
  background: url(../img/concept-2.jpg) center center;
  background-size: cover; }

.info-txt {
  font-style: normal; }

.shop-img {
  width: 100%;
  height: 237px;
  background: url(../img/shopinfo.jpg) center center;
  background-size: cover; }

@media screen and (min-width: 600px) {
  .concept-txt {
    padding: 20px 10px;
    background-color: #fff;
    line-height: 1.5rem;
    max-width: 445px;
    box-sizing: border-box; }
    .concept-txt h3 {
      font-size: 18px; }
    .concept-txt p {
      font-size: 16px; }
  .container {
    width: 1200px;
    margin: 0 auto; }
  .concept-higher ul {
    float: right;
    width: 1200px;
    height: 620px; }
  .concept-higher li {
    float: left;
    list-style-type: none; }
    .concept-higher li:nth-of-type(2) {
      width: 755px; }
  .concept-higher-img {
    height: 620px; }
  .concept-lower {
    clear: both; }
    .concept-lower ul {
      height: 620px; }
    .concept-lower li {
      list-style-type: none; }
      .concept-lower li:nth-of-type(1) {
        float: left;
        width: 394px; }
      .concept-lower li:nth-of-type(2) {
        float: left;
        width: 680px; }
      .concept-lower li:nth-of-type(3) {
        float: left; }
    .concept-lower-img1, .concept-lower .concept-lower-img2 {
      width: 100%;
      height: 620px; }
  .concept-txt {
    width: 445px;
    height: 620px; } }

.l-mainvisual {
  width: 100%;
  height: 115px; }

.mv-logo {
  display: none; }

@media screen and (min-width: 600px) {
  .l-mainvisual ul {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden; }
  .l-mainvisual li {
    position: absolute;
    width: 100%; }
  .mv-logo {
    width: 490px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -256px;
    z-index: 1; } }

.nav_btn {
  float: right; }

.btn {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  border: #fff 3px solid; }

@media screen and (min-width: 600px) {
  .nav_btn {
    display: none; } }

.heading {
  width: 100%;
  height: 115px;
  text-align: center;
  line-height: 115px;
  color: #fff;
  font-family: "02うつくし明朝体", serif;
  font-size: 24px; }

.shadow {
  text-shadow: 0 5px 10px #000; }

.l-mainvisual {
  background: url(../img/mv-cake.jpg) center 25%;
  background-size: cover; }

.heading-blue {
  font-size: 18px;
  line-height: 1.5rem;
  color: #558997;
  font-family: "游ゴシック", sans-serif;
  margin-bottom: 20px; }

.info-heading {
  line-height: 1.2rem;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #a5cddb;
  font-family: "02うつくし明朝体", serif;
  letter-spacing: 1px; }

.l-contact-heading {
  background: url(../img/contact-mv.jpg) center center;
  background-size: cover; }

.l-concept-heading {
  background: url(../img/concept-mv.jpg) center center;
  background-size: cover; }

@media screen and (min-width: 960px) {
  .heading {
    height: 550px;
    font-size: 48px;
    line-height: 550px; }
  .info-heading {
    padding: 100px 0;
    font-size: 48px; }
  .heading-large {
    font-size: 48px; } }

.gnav {
  position: relative;
  text-align: center; }

.nav-list {
  position: absolute;
  top: 45%;
  left: 50%; }

@media screen and (min-width: 600px) {
  .gnav {
    position: absolute;
    top: 50%;
    right: 0; }
    .gnav-item {
      float: left;
      margin-left: 30px; }
    .gnav-link {
      text-decoration: none;
      color: #292929; } }
