@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Diplomata");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT");
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  font-family: "02うつくし明朝体", serif; }

.body {
  background-color: #abd5e7; }

.inner {
  overflow: hidden;
  margin: 0 auto; }

.bg-blue {
  background-color: #abd5e7; }

.bg-yellow {
  background-color: #ecbb60;
  color: #fff; }

.ta-right {
  text-align: right; }

img {
  max-width: 100%;
  height: auto; }

.cf::after {
  content: '';
  display: block;
  clear: both; }

.l-header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  box-sizing: border-box; }
  .l-header-logo {
    width: 70px;
    line-height: 40px;
    float: left;
    background: url(../img/headerlogo.png) center center;
    background-size: cover;
    text-indent: -9999px; }

@media screen and (min-width: 600px) {
  .l-header {
    height: 160px;
    position: relative; }
    .l-header-logo {
      width: 170px;
      height: 100px;
      margin-top: 25px; } }

.l-infomation {
  width: 100%; }

.l-footer {
  background-color: #292929;
  text-align: right;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  clear: both; }

.l-contact-main {
  text-align: center; }

.l-telnumber {
  padding: 30px 20px; }
  .l-telnumber .number {
    font-size: 18px; }

.contact-form {
  padding-top: 30px;
  padding-bottom: 30px; }

.name,
.furigana,
.email,
.message {
  width: 200px;
  border: none;
  margin-bottom: 20px;
  padding: 5px;
  font-family: "游ゴシック", sans-serif; }

@media screen and (min-width: 600px) {
  .name,
  .furigana,
  .email,
  .message {
    width: 300px;
    border: none;
    margin-bottom: 20px;
    padding: 5px;
    font-family: "游ゴシック", sans-serif; }
  .contact-form {
    padding-top: 50px;
    padding-bottom: 50px; }
  .btn {
    margin-top: 25px; } }

.l-telnumber {
  padding-top: 50px;
  padding-bottom: 50px; }
  .l-telnumber .number {
    font-size: 36px; }

@media screen and (min-width: 960px) {
  .form-left {
    float: left; }
  .contact-form {
    padding-top: 100px;
    padding-bottom: 100px; }
  .form-inner {
    width: 680px;
    margin: 0 auto;
    overflow: hidden; }
  .btn {
    margin-top: 25px;
    float: right;
    margin-right: 30px; }
  .l-telnumber {
    padding-top: 100px;
    padding-bottom: 100px; }
    .l-telnumber .number {
      font-size: 48px;
      padding: 20px 0;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff; } }

.concept-box {
  height: 620px;
  background-color: #abd5e7; }

.lower {
  clear: both; }

.concept-txt {
  font-size: 14px;
  width: 400px;
  height: 620px;
  background-color: #fff;
  line-height: 1.4; }
  .concept-txt p {
    font-family: '游ゴシック', sans-serif; }

.concept-img {
  height: 620px;
  background-size: cover; }
  .concept-img-higher {
    width: 60%;
    float: right;
    background: url(../img/concept-1.jpg) center center; }
  .concept-img-lower1 {
    width: 15%;
    background: url(../img/concept-3.jpg) center center; }
  .concept-img-lower2 {
    width: 45%;
    background: url(../img/concept-2.jpg) center center; }

.f-left {
  float: left; }

.f-right {
  float: right; }

@media screen and (min-width: 960px) {
  .concept-txt {
    padding: 40px 30px 0;
    box-sizing: border-box; }
  .shopinfo-box {
    clear: both; }
  .info-txt {
    width: 400px;
    height: 530px;
    float: left; }
  .shop-img {
    width: 50%;
    height: 400px;
    background: url(../img/shopinfo.jpg) center center; }
  .mapwidth {
    max-width: 100%; } }

.l-mainvisual {
  width: 100%;
  height: 115px; }

.mv-logo {
  display: none; }

@media screen and (min-width: 600px) {
  .l-mainvisual ul {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden; }
  .l-mainvisual li {
    position: absolute;
    width: 100%; }
  .mv-logo {
    width: 490px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -256px;
    z-index: 1; } }

.nav_btn {
  float: right; }

.btn {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  border: #fff 3px solid; }

@media screen and (min-width: 600px) {
  .nav_btn {
    display: none; } }

.heading {
  width: 100%;
  height: 115px;
  text-align: center;
  line-height: 115px;
  color: #fff;
  font-family: "02うつくし明朝体", serif;
  font-size: 24px; }

.shadow {
  text-shadow: 0 5px 10px #000; }

.l-mainvisual {
  background: url(../img/mv-cake.jpg) center 25%;
  background-size: cover; }

.heading-blue {
  font-size: 18px;
  line-height: 1.5rem;
  color: #558997;
  font-family: "游ゴシック", sans-serif;
  margin-bottom: 20px; }

.info-heading {
  line-height: 1.2rem;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #a5cddb;
  font-family: "02うつくし明朝体", serif;
  letter-spacing: 1px; }

.l-contact-heading {
  background: url(../img/contact-mv.jpg) center center;
  background-size: cover; }

.l-concept-heading {
  background: url(../img/concept-mv.jpg) center center;
  background-size: cover; }

@media screen and (min-width: 600px) {
  .heading {
    height: 300px;
    line-height: 300px;
    font-size: 36px; } }

@media screen and (min-width: 960px) {
  .heading {
    height: 550px;
    font-size: 48px;
    line-height: 550px; }
    .heading-blue {
      font-size: 24px;
      line-height: 1.4;
      border-bottom: 2px solid #558997;
      padding-bottom: 20px;
      margin-bottom: 30px;
      width: 10em; }
  .info-heading {
    padding: 100px 0;
    font-size: 48px; }
  .heading-large {
    font-size: 48px; } }

.gnav {
  position: relative;
  text-align: center; }

.nav-list {
  position: absolute;
  top: 45%;
  left: 50%; }

.nav-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  border: 3px solid #abd5e7;
  box-sizing: border-box; }

.js-nav-list {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 20; }

.js-nav-link {
  text-decoration: none;
  color: #292929; }

@media screen and (min-width: 600px) {
  .gnav {
    position: absolute;
    top: 50%;
    right: 0; }
    .gnav-item {
      float: left;
      margin-left: 30px; }
    .gnav-link {
      text-decoration: none;
      color: #292929; } }
