

.fl-right{
//        float: right;
    }

.concept-higher-img{
    width: 100%;
    height: 185px;
    background: url(../img/concept-1.jpg) center center;
    background-size: cover;
}

.concept-lower-img1{
//    float: left;
    width: 30%;
    height: 185px;
    background: url(../img/concept-3.jpg) center center;
    background-size: cover;
}

.concept-lower-img2{
//    float: right;
    width: 70%;
    height: 185px;
    background: url(../img/concept-2.jpg) center center;
    background-size: cover;
}

//shopinfo

.info-txt{
    font-style: normal;
}

.shop-img{
    width: 100%;
    height: 237px;
    background: url(../img/shopinfo.jpg) center center;
    background-size: cover;
}

@media screen and(min-width:$tab){
    .concept-txt{
    padding: 20px 10px;
//    clear: both;
    background-color: #fff;
    line-height: 1.5rem;
    max-width: 445px;
        box-sizing: border-box;
    h3{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}
    
    .container{
        width: 1200px;
        margin: 0 auto;
    }
    
    .concept-higher{
        ul{
            float: right;
            width: 1200px;
            height: 620px;
        }
        li{
            float:  left;
            list-style-type: none;
            &:nth-of-type(2){
                width: 755px;
            }
        }
        &-img{
            height: 620px;
        }
    }
    
    .concept-lower{
        clear: both;
        ul{
            height: 620px;
        }
        li{
            list-style-type: none;
            &:nth-of-type(1){
                float: left;
                width: 394px;
            }
            &:nth-of-type(2){
                float: left;
                width: 680px;
            }
            &:nth-of-type(3){
                float: left;
            }
        }
        &-img1,.concept-lower-img2{
            width: 100%;
            height: 620px;
        }
    }
    
    .concept-txt{
        width: 445px;
        height: 620px;
    }
    
}
//
//@media screen and(min-width:$pc){
//    .concept-higher-img{
//        float: right;
//        width: 1061px;
//        height: 620px;
//    }
//    .fl-left{
//        float: left;
//    }
//    
//    .inner{
//        width: 1200px;
//    }
//    
//    .info-txt{
//        width: 400px;
//        height: 530px;
//        float: left;
//    }
//    .shop-img{
//        width: 770px;
//        height: 570px;
//        float: right;
//    }
//    
//    .mapwidth {
//	max-width: 100%;
//}
//}