*{
    font-family: $default-font;
}

.bg-blue{
    background-color: #abd5e7;
}

.bg-yellow{
    background-color: #ecbb60;
    color: #fff;
}

.ta-right{
    text-align: right;
}

img{
    max-width: 100%;
    height: auto;
}

.cf::after{
    content: '';
    display: block;
    clear: both;
}