.nav_btn {
    float: right;
}

.btn{
    color: #fff;
    font-size: 16px;
    padding: 10px;
    background-color: transparent;
    border: #fff 3px solid;
}

@media screen and(min-width:$tab){
    .nav_btn{
        display: none;
    }
}
